<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.04.02" ModuleVersion="16.00.00" ExportDate="2023-05-03T09:44:27.7415658+02:00">
  <Header>
    <App Guid="eaeb59f9-aea2-4650-ae4a-07edfb1efebb" />
    <Language Default="en-us" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="677210a2-cf08-46e5-a6b2-86e56e27be99" Name="DateTimeConfigurable" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="DesiredDate" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7c7591aa-b776-4d7e-8187-ec4d98b0ff00" Json="True" KeyNumber="21558">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="Today" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Desired Date" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;This is an example. It will only accept &quot;Today&quot; or empty as a value. Otherwise the Demo DataSource will complain.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="2acdd4b1-19c4-4f23-9385-9f33a2d79d1f" Json="True" KeyNumber="21558">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="9d878810-3780-48ea-ba42-191381656263" Json="True" KeyNumber="21558">
            <Value Key="RowCount" Value="1" Type="Number" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="3445cc6d-1807-42b8-a747-45321ed4c344" Json="True" KeyNumber="21558">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="Today" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Desired Date" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;This is an example. It will only accept &quot;Today&quot; or empty as a value. Otherwise the Demo DataSource will complain.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="d58d0577-25d6-4505-b4c8-2c51a1f509fb" Json="True" KeyNumber="21558">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="c3c8bd91-8168-4888-a87c-b8bb73362cca" Json="True" KeyNumber="21558">
            <Value Key="RowCount" Value="1" Type="Number" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="8ab3cf11-0498-491a-841c-9c73816ff42a" Json="True" KeyNumber="21558">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="Today" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Desired Date" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;This is an example. It will only accept &quot;Today&quot; or empty as a value. Otherwise the Demo DataSource will complain.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="88933bef-a26f-43c3-ab8e-01cb249ddb33" Json="True" KeyNumber="21558">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="6b853725-b477-4cb7-87a9-0a952fd585ad" Json="True" KeyNumber="21558">
            <Value Key="RowCount" Value="1" Type="Number" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="9dbde592-3197-4496-ac25-6fa8e1f3eb94" Json="True" KeyNumber="21558">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="Today" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Desired Date" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;This is an example. It will only accept &quot;Today&quot; or empty as a value. Otherwise the Demo DataSource will complain.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="cadc553e-5928-4a56-a6ee-7ae0e802a0de" Json="True" KeyNumber="21558">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="f095c17c-e0c9-446c-8dfe-e4ec83c92958" Json="True" KeyNumber="21558">
            <Value Key="RowCount" Value="1" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Hours" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="a7a82215-646b-4460-94a9-2c79ccfb64e6" Json="True" KeyNumber="21559">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="13" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Hours" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The hours in the DateTime. Should be a number or a &lt;a href=&quot;https://r.2sxc.org/tokens&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;token&lt;/a&gt; which will get a number. As a demo you can also enter an invalid 24 (hours only go to 23) to see how the error turns out.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="44391383-1e60-49b8-a289-5a41bd254588" Json="True" KeyNumber="21559">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="6cd91082-f738-43ae-baa3-c726fd7791f2" Json="True" KeyNumber="21559" />
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="b692b3f0-c331-46ab-810e-a7a31050e3ee" Json="True" KeyNumber="21559">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="13" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Hours" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The hours in the DateTime. Should be a number or a &lt;a href=&quot;https://r.2sxc.org/tokens&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;token&lt;/a&gt; which will get a number. As a demo you can also enter an invalid 24 (hours only go to 23) to see how the error turns out.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="70e26ef1-8f10-4693-bae5-d68f8568223e" Json="True" KeyNumber="21559">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="6d5c065e-e12e-44ff-9259-fe7a843d1e39" Json="True" KeyNumber="21559" />
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4b41ca97-e3c2-4268-abc1-53cbd772ec2b" Json="True" KeyNumber="21559">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="13" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Hours" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The hours in the DateTime. Should be a number or a &lt;a href=&quot;https://r.2sxc.org/tokens&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;token&lt;/a&gt; which will get a number. As a demo you can also enter an invalid 24 (hours only go to 23) to see how the error turns out.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="44db3d8b-7132-47fe-8101-f778d0435752" Json="True" KeyNumber="21559">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="3132da48-cf06-4b75-877b-3adf8372be2e" Json="True" KeyNumber="21559" />
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="363eb7ce-eeec-4881-b335-606291c1975e" Json="True" KeyNumber="21559">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="13" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Hours" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The hours in the DateTime. Should be a number or a &lt;a href=&quot;https://r.2sxc.org/tokens&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;token&lt;/a&gt; which will get a number. As a demo you can also enter an invalid 24 (hours only go to 23) to see how the error turns out.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="51d3c85b-215f-400a-9883-4a213f799e1a" Json="True" KeyNumber="21559">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="fb93a68f-42c2-4bac-8647-ba6d08231e57" Json="True" KeyNumber="21559" />
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="fcfc47a6-ddcb-4e1a-bb19-d7c1243f0e37" Name="TestData" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c575dba9-dcf4-4123-b974-25d762d892c6" Json="True" KeyNumber="21560">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Message" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="e3720a5d-a8b7-4809-928b-b88c15599835" Json="True" KeyNumber="21561">
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Message" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="b2e34a46-a65a-4ca7-8c72-13cac8df6175" Json="True" KeyNumber="2707">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="DisplayName" Value="DataSource-Tutorial-Custom-Basic" Type="String" />
      <Value Key="Folder" Value="app-tutorial-datasource-basic" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="09.06.01" Type="String" />
      <Value Key="RequiredOqtaneVersion" Value="" Type="String" />
      <Value Key="RequiredVersion" Value="16.00.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="True" Type="Boolean" />
      <Value Key="Version" Value="16.00.00" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="ac6f1561-5f3a-4aea-8dc0-aee6e32f4c72" KeyNumber="2707" />
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="ea8b7909-0b44-4cb6-a212-46bcc72e8883" KeyNumber="2707" />
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="d05e81c5-129d-4660-bbe9-2b9fa68cdb9d" Json="True">
      <Value Key="ContentDemoEntity" Value="3b5af1fb-230c-482e-bbe4-3bddc8866aa6" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="fcfc47a6-ddcb-4e1a-bb19-d7c1243f0e37" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="01 Introduction" Type="String" />
      <Value Key="Path" Value="_01-Introduction.cshtml" Type="String" />
      <Value Key="Pipeline" Value="c842bb7c-4889-450c-80aa-7a95efafb12f" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="fcfc47a6-ddcb-4e1a-bb19-d7c1243f0e37" AttributeSetName="TestData" EntityGUID="3b5af1fb-230c-482e-bbe4-3bddc8866aa6">
      <Value Key="Message" Value="&lt;p&gt;This is wonderful!&lt;/p&gt;" Type="String" />
      <Value Key="Title" Value="Dummy item" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="c842bb7c-4889-450c-80aa-7a95efafb12f" Json="True">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="Just demo the basic DateTime source which just delivers infos about today." Type="String" />
      <Value Key="Name" Value="DemoBasic" Type="String" />
      <Value Key="Params" Value="" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="e10b0201-c62b-4498-a33b-281e4b75dc9a:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="e10b0201-c62b-4498-a33b-281e4b75dc9a" Json="True" KeyGuid="c842bb7c-4889-450c-80aa-7a95efafb12f">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Tutorial DateTime Basic" Type="String" />
      <Value Key="PartAssemblyAndType" Value="7aee541c-7188-429f-a4bb-2663a576b19e" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 280,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="c7b33e9c-101e-4b03-8ada-4fa7c6240b39" Json="True">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="Demonstrate the BasicList DataSource" Type="String" />
      <Value Key="Name" Value="DemoBasicList" Type="String" />
      <Value Key="Params" Value="" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="7b094e34-382f-4cb9-94f7-423b9d47771d:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="7b094e34-382f-4cb9-94f7-423b9d47771d" Json="True" KeyGuid="c7b33e9c-101e-4b03-8ada-4fa7c6240b39">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Tutorial DateTime List" Type="String" />
      <Value Key="PartAssemblyAndType" Value="10ebb0af-4b4e-44cb-81e3-68c3b0bb388d" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 280,&#xD;&#xA;  &quot;Left&quot;: 400&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="667458d6-205f-481d-a43e-de3bea1f64cd" Json="True">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="The configurable DataSource without configuration" Type="String" />
      <Value Key="Name" Value="DemoConfigurableBlank" Type="String" />
      <Value Key="Params" Value="" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="07bceff6-40ba-4ff9-901a-ff51f7141e74:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="07bceff6-40ba-4ff9-901a-ff51f7141e74" Json="True" KeyGuid="667458d6-205f-481d-a43e-de3bea1f64cd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Tutorial DateTime Configurable" Type="String" />
      <Value Key="PartAssemblyAndType" Value="81dd49a7-fa70-4e98-b73d-8299bb3231f0" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 280,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="fbaee728-dc4d-43c3-bcf6-56ed478c5d99" Json="True">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="Shows how a wrong configuration will result in an error-stream." Type="String" />
      <Value Key="Name" Value="DemoConfigurableError" Type="String" />
      <Value Key="Params" Value="Hours=24" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="40662dc8-5d46-40c3-987a-e4cc0bf161ab:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="40662dc8-5d46-40c3-987a-e4cc0bf161ab" Json="True" KeyGuid="fbaee728-dc4d-43c3-bcf6-56ed478c5d99">
      <Value Key="Description" Value="Will show error because hours=24" Type="String" />
      <Value Key="Name" Value="Tutorial DateTime Configurable" Type="String" />
      <Value Key="PartAssemblyAndType" Value="81dd49a7-fa70-4e98-b73d-8299bb3231f0" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 260,&#xD;&#xA;  &quot;Left&quot;: 400&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="677210a2-cf08-46e5-a6b2-86e56e27be99" AttributeSetName="DateTimeConfigurable" EntityGUID="729574ac-7dbe-4ae4-aa01-77fdf8adfb16" Json="True" KeyGuid="40662dc8-5d46-40c3-987a-e4cc0bf161ab">
      <Value Key="DesiredDate" Value="Today" Type="String" />
      <Value Key="Hours" Value="[Params:Hours]" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="9a687277-a9f3-40b8-9ef0-279cc9c09c51" Json="True">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="Shows how the QueryConfigurable can be used" Type="String" />
      <Value Key="Name" Value="DemoConfigurable" Type="String" />
      <Value Key="Params" Value="Hours=22" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="9c304f5c-40ab-41a3-8667-08961cac2b4b:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="9c304f5c-40ab-41a3-8667-08961cac2b4b" Json="True" KeyGuid="9a687277-a9f3-40b8-9ef0-279cc9c09c51">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Tutorial DateTime Configurable" Type="String" />
      <Value Key="PartAssemblyAndType" Value="81dd49a7-fa70-4e98-b73d-8299bb3231f0" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 300,&#xD;&#xA;  &quot;Left&quot;: 420&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="677210a2-cf08-46e5-a6b2-86e56e27be99" AttributeSetName="DateTimeConfigurable" EntityGUID="a0162471-d81f-42e1-a9c5-168342b0d2ca" Json="True" KeyGuid="9c304f5c-40ab-41a3-8667-08961cac2b4b">
      <Value Key="DesiredDate" Value="Today" Type="String" />
      <Value Key="Hours" Value="[Params:Hours]" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="9877" RelativePath="adam/app-tutorial-datasource-basic/" />
  </PortalFolders>
</SexyContent>